<!DOCTYPE html>
<head>
    <title>Title</title>
    <link rel="stylesheet" href="stylesheets/stylesheet_light.css">
    <link href='https://fonts.googleapis.com/css?family=Product+Sans' rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
</head>
<body>
<% if(status) { %>
<p>You have successfully logged in <a href="/">Go back home</a></p>
<% }
else { %>
<p>Incorrect username or password. Please try again <a href="/">Go back home</a></p>
<% }
%>
</body>
<html>