<!DOCTYPE html>
<head>
    <title>Title</title>
    <link rel="stylesheet" href="stylesheets/stylesheet_light.css">
    <link href='https://fonts.googleapis.com/css?family=Product+Sans' rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
</head>
<body>
    <% if(status) { %>
            <p>You have successfully created an account <a href="/">Go back home</a></p>
    <% } else { %>
            <p>Your account was not created. Please try again. <a href="/">Go back home</a></p>
    <% } %>
</body>
<html>